# Python / Virtual Environment
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
*.sqlite3
*.db

# Node / React
node_modules/
dist/
dist-ssr/
*.local
.env

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
